<!DOCTYPE html>
<html ng-app="poc">
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="libraries/bootstrap.css">
    <link rel="stylesheet" href="style.css">

    <script type="application/javascript" src="libraries/angular.js"></script>
    <script type="application/javascript" src="libraries/angular-mocks.js"></script>
    <script type="application/javascript" src="libraries/json2.js"></script>
    <script type="application/javascript" src="libraries/minify.json.js"></script>
    <script type="application/javascript" src="app.js"></script>

    <title>Medicinalia - Proof of Concept</title>

    <meta name="keywords" content="project, infoiasi, wade, web"/>
</head>
<body ng-controller="SearchController as searchCtrl">

    <div class="navbar navbar-fixed-top">
        <div class="container-fluid container-navbar">
            <img src="medicinalia-logo.png" class="navbar-brand logo" />
            <form class="search-form" role="search"
                  ng-submit="performSearch(form.searchString)" novalidate>
                <input type="text" class="search-textbox" placeholder="Type a name or constraint to search for..." ng-model="form.searchString">
                <button type="submit" class="search-button" ng-disabled="!form.searchString">Search</button>
            </form>
        </div>
    </div>

    <div class="container search-results-container">
        <table class="table table-hover" ng-show="searchResults.results">
            <thead>
                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="searchResultId in searchResults.results" ng-show="searchResultsData[searchResultId]" class="plant-row">
                    <td><img ng-src="{{searchResultsData[searchResultId].photo_links[0]}}" class="plant-thumbnail"/></td>
                    <td>{{searchResultsData[searchResultId].name}}</td>
                    <td>{{searchResultsData[searchResultId].description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>