a, a:active, a:focus {
    outline: none;
}

.container-navbar {
    background-color: #50b200;
    box-shadow: 0px -5px 5px 5px #999;
    -moz-box-shadow: 0px -5px 5px 5px #999;
    -webkit-box-shadow: 0px -5px 5px 5px #999;
    border-width: 0px;
}

.logo {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    padding: 5px;
    position: relative;
    display: inline-block;
}

.search-form {
    width: 60%;
    height: 68px;
    line-height: 68px;
    margin-left: 5%;
    position: relative;
    display: inline-block;
}

.search-textbox {
    vertical-align: middle;
    width: 75%;
    height: 60%;
    line-height: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.search-button {
    vertical-align: middle;
    width: 20%;
    height: 60%;
    line-height: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    color: #50b200;
    background-color: #EEEEEE;
}

.search-button:disabled {
    color: #999999;
    background-color: #CCCCCC;
}

@media (min-width: 768px) {
    .search-form {
        margin-left: 10%;
    }
}

@media (min-width: 1024px) {
    .search-form {
        margin-left: 15%;
    }
}

.search-results-container {
    margin-top: 80px;
}

.clickable {
    cursor: pointer;
}

.ad-bar {
    background-color: #DDD;
    min-height: 72px;
    max-height: 72px;
    height: 72px;
    line-height: 72px;
}

.ad-bar.ng-hide-add.ng-hide-add-active,
.ad-bar.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.ad-bar.ng-hide {
    min-height: 0px;
    max-height: 0px;
    height: 0px;
    line-height: 0px;
}

.plant-thumbnail-search {
    max-width: 192px;
    max-height: 192px;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .plant-thumbnail-search {
        max-width: 256px;
        max-height: 256px;
    }
}

.plant-thumbnail-ad-bar-container {
    margin-left: 0px;
    margin-right: 0px;
}

.plant-thumbnail-ad-bar {
    max-width: 128px;
    max-height: 64px;
    border-radius: 3px;
}

.ad-text-container {
    width: 75%;
    height: 72px;
    line-height: 72px;
}

.ad-text {
    margin-left: 15px;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}

.close-ad-button-container {
    margin-right: 15px;
    height: 100%;
    line-height: 72px;
}

.close-ad-button {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 16px;
    line-height: 45px;
}

/* Fix for modal window not showing backdrop: https://github.com/angular-ui/bootstrap/pull/3117 */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.modal-backdrop {
    bottom: 0;
}
/* End of fix */

.modal-container {
    height: 65vh;
}

.modal-gallery {
    height: 100%;
    overflow: auto;
}

.modal-details {
    height: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

.modal-details .ng-isolate-scope{
    height: 100%;
}

.plant-thumbnail-details {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.tab-content {
    overflow: auto;
    height: 85%;
    padding: 10px;
}

.blurred {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}